body {
  height: 100vh;
  width: 100%;
  background: url(../../img/wallpaper/VMC-Starfield-01.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}
body__img {
  height: 100vh;
  width: 20vw;
  opacity: 0;
  z-index: 100;
  position: absolute;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  background: hsla(0, 0%, 100%, 0.07);
  -webkit-backdrop-filter: blur(125px);
          backdrop-filter: blur(125px);
  border: 1px solid #26262c;
  border-radius: 15px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 40%;
  max-width: 1600px;
  margin: 20px auto 0;
  padding: 0 10px;
  font-size: 17px;
}
.header .header__start {
  align-self: center;
}
.header .header__menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header .header__menu li {
  align-self: center;
}
.header .header__menu li:not(:first-child) {
  text-decoration: none;
}
.header .header__menu li:not(:first-child):hover {
  position: relative;
}
@keyframes underline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.header .header__menu li:not(:first-child):hover::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: white;
  animation: underline 0.3s forwards;
}

.header__start, .main__start {
  font-size: 17px;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 10px 15px 10px 20px;
}
.header__start img, .main__start img {
  color: white;
  height: 1cap;
}

.btn {
  text-align: center;
  background-color: #242429;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 1px #eee;
  background-image: linear-gradient(to right, #1f1f24 0%, #27272c 51%, #1f1f24 100%);
}
.btn:hover {
  background-position: right center;
}

.header__logo {
  margin-top: 10px;
  height: 80px;
  width: 100px;
}

.main {
  text-align: center;
  width: 75vw;
  margin: 100px auto 0 auto;
  position: relative;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.main__content {
  color: white;
  font-family: "Inter Tight", sans-serif;
  font-size: 56px;
  padding: 100px 15%;
}
.main__content__text {
  margin-top: 20px;
  font-size: 20px;
  color: #808690;
}
.main__gridcontainer {
  position: absolute;
  z-index: -1;
  display: grid;
  width: 75vw;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.main__gridcontainer__item {
  border: 1px solid #18181b;
  background-color: #131316;
}
.main__gridcontainer__item-active {
  background-color: #18181b;
}
.main__gridcontainer-background {
  position: absolute;
  z-index: -2;
  height: 100%;
  width: 75vw;
  background-color: #131316;
}
.main__startButton {
  margin-top: 75px;
}
.main__logo-list {
  margin-top: 75px;
}
.main__logo-list img {
  width: 300px;
  height: 250px;
}
.main__logo .copyright {
  font-size: 17px;
}

.main__content {
  padding: 50px 15%;
}
.main__content .main__addScript {
  border: 1px solid gainsboro;
}
.main__content .main__addScript__form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.main__content .main__addScript__form label {
  font-size: 20px;
  text-align: left;
  color: white;
}
.main__content .main__addScript__form input {
  border: 1px solid rgba(67, 67, 67, 0.5);
  height: 40px;
  font-size: 20px;
  background: radial-gradient(circle at center, #434343 0%, #000000 100%);
  color: white;
  margin-bottom: 20px;
  margin-top: 5px;
}
.main__content .main__addScript__form textarea {
  border: 1px solid rgba(67, 67, 67, 0.5);
  resize: none;
  background: radial-gradient(circle at center, #434343 0%, #000000 100%);
  color: gray;
  margin-bottom: 20px;
  margin-top: 5px;
}
.main__content .main__addScript__form button {
  color: white;
  font-size: 20px;
  margin-top: 25px;
  align-self: center;
  width: 50%;
  height: 30px;
}
.main__content .main__addScript__form #file {
  height: 50px;
  text-align: center;
}

.header__desktop {
  display: block;
}

.header__menu-mobile {
  display: none;
}

.header__burger {
  display: none;
}

@media (max-width: 1125px) {
  .header {
    margin: 0 auto;
    width: 100vw;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #26262c;
  }
  .header__desktop {
    display: none;
  }
  .header__menu-mobile {
    display: block;
  }
  .header__menu-mobile svg {
    fill: white;
    height: 30px;
    width: 30px;
  }
  .header__burger-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 0px;
    height: 100vh;
    width: 0px;
    transition: all 1s ease;
  }
  .header__burger-menu-active {
    display: block;
    position: absolute;
    width: 80vw;
    z-index: 10;
    background-color: #1515e8;
  }
  .header__burger {
    z-index: 11;
    text-align: center;
    list-style-type: none;
    font-size: 30px;
  }
}/*# sourceMappingURL=style.css.map */